@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #49c891;
  --color-secondary: #fcd0a1;
  --color-accent: #a690a4;
  --color-text: #333333;
  --color-background: #ffffff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  padding-top: 20px;
}

main {
  padding-top: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.5rem;
  color: var(--color-accent);
}

a {
  color: var(--color-primary);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-accent);
}
